<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.basic.mybatis.RentcarMapper">
  
	<select id="carList" resultType="rentcar">
		select * from rentcar where total_qty>0
	</select>
	<select id="categoryCarList" parameterType="Integer" resultType="rentcar">
		select * from rentcar where total_qty>0 and category=#{num}
	</select>
	
	<select id="oneCar" parameterType="Integer" resultType="rentcar">
	select * from rentcar where num=#{num}
	</select>
	<update id="updateCarQty" parameterType="rentcar">
		update rentcar 
		set total_qty = #{totalQty}
		where num = #{num}
    </update>
	<insert id="addCar" parameterType="rentcar">
		insert into rentcar (name, category, price, usepeople, total_qty, company,img, info)
		values (#{name}, #{category}, #{price}, #{usepeople}, #{totalQty}, #{company}, #{img}, #{info})
	</insert>
	<delete id="deleteRentCar" parameterType="Integer">
		delete from rentcar where num = #{num}
	</delete>
	<delete id="deleteReservByCarNum" parameterType="Integer">
		delete from reservation where num = #{num}
	</delete>
	<update id="updateRentCar" parameterType="rentcar">
		update rentcar
		set name = #{name},
			category = #{category},
			price = #{price},
			usepeople = #{usepeople},
			total_qty = #{totalQty},
			company = #{company},
			img = #{img},
			info = #{info}
		where num = #{num}		
	</update>
   
</mapper>