<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.basic.mybatis.ReservationMapper">
  

   <insert id="addReservation" parameterType="reserve">
		insert into reservation (num, userid, qty, dday, rday, usein, usewifi, usenavi, useseat)
		values (#{num}, #{userid}, #{qty}, #{dday}, #{rday}, #{usein}, #{usewifi}, #{usenavi}, #{useseat})
    </insert>
	
	<select id="getReservationList" parameterType="Integer" resultType="reserveList">
		select r.reserve_seq,rc.name,r.qty,r.rday,r.dday,r.usein,r.usewifi,r.usenavi,r.useseat
		from reservation r
		inner join user u
		on r.userid = u.userid
		inner join rentcar rc
		on rc.num = r.num
		where u.num=#{log};
	
	</select>
	
	<select id="getOneReservation" parameterType="Integer" resultType="reserveDetail">
        select r.reserve_seq, rc.name, r.num, r.qty, r.rday, r.dday, r.usein, r.usewifi, r.usenavi, r.useseat, rc.img
        from reservation r
        inner join rentcar rc on rc.num = r.num
        where r.reserve_seq = #{reserve_seq}
    </select>

    <update id="updateReservation" parameterType="reserve">
        update reservation
        set qty = #{qty}, dday = #{dday}, rday = #{rday}, usein = #{usein}, usewifi = #{usewifi}, usenavi = #{usenavi}, useseat = #{useseat}
        where reserve_seq = #{reserve_seq}
    </update>

    <delete id="deleteReservation" parameterType="Integer">
        delete from reservation where reserve_seq = #{reserve_seq}
    </delete>
    
    <select id="getAllReservations" resultType="reserveList">
        select r.reserve_seq, rc.name, r.num, r.qty, r.rday, r.dday, r.usein, r.usewifi, r.usenavi, r.useseat
        from reservation r
        inner join rentcar rc on rc.num = r.num
    </select>
   
</mapper>